<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!-- ここを追加 -->


      <%= image_tag @user.avatar.url if @user.avatar %>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>

    <div class="proflie_left">
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  
    <div class="profile_right">
      <%= f.label :肩書き %>
      <%= f.text_field :position, class: 'form-control' %>

      <%= f.label :自己紹介 %>
      <%= f.text_area :s_introduction, class: 'form-control' %>
    </div>
      
    <div class="gravatar_edit">
       <%= gravatar_for @user %>
       <a href="http://gravatar.com/emails" target="_blank">画像編集</a>
    </div>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>